/* Responsive Adjustments */
@media screen and (max-width: 1200px) {
    #nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .section-container {
        padding: 1.5rem;
    }
    .submit-button {
        padding: 0.7rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px 15px;
    }
    .logo img {
        max-width: 30px;
    }
    .section-container {
        padding: 1rem;
    }
    .submit-button {
        width: 100%;
        margin-top: 1rem;
    }
}
